body {
  margin: 0%;
  font-family: 'Open Sans', sans-serif;
  min-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.bloqueSuperior {
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  background-color: #EDFBFE;
  background-image: url("images/bg-hero-mobile.svg");
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 375px;
  max-width: 375px;
}
.flexCode {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 375px;
  max-width: 375px;
}
.titulo {
  text-align: center;
  font-size: 16px;
  width: 360px;
  font-weight: 700;
  flex-basis: 100%;
}
header {
  width: 360px;
  overflow: hidden;
  padding: 10px;
}
header .logo {
  line-height: 20px;
  float: left;
  padding: 3px 6px;
}
header nav {
  float: right;
  margin-right: 7%;
}
header nav a {
  display: inline-block;
  color: #060053;
  padding: 5px 25px;
  line-height: normal;
  font-size: 12px;
  font-weight: bold;
  border-radius: 35px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  text-decoration: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.137);
}
.texto {
  line-height: 23px;
  font-size: 13px;
  font-weight: 700;
  margin-top: 10px;
}
.centrar {
  width: 360px;
  max-width: 360px;
  margin: 0;
  overflow: hidden;
}
.centrarBotonExterno {
  text-align: center;
  width: 360px;
  max-width: 360px;
}
.centrarBotonInterno {
  text-align: center;
  width: 100%;
  max-width: 100%;
}
h2 {
  text-align: center;
}
p {
  padding-left: 15px;
  padding-right: 15px;
  color: hsl(210, 11%, 56%);
  text-align: center;
  font-size: 15px;
}
.bloqueCentral {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 375px;
  max-width: 375px;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.imagenBloque {
  margin-top: 10px;
}
.imagen {
  margin: 30px;
}
.imageStyle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}
#imageMockup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}
#imageGrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}
#imageFlowinf {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}
#imageUsers {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}
.botonStyle {
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  line-height: normal;
  border-radius: 35px;
  padding: 15px 50px;
  font-weight: bold;
  background-color: #FE52C0;
  text-decoration: none;
  display: inline-flex;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.178);
}
.butonRosa {
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  line-height: normal;
  border-radius: 35px;
  padding: 15px 50px;
  font-weight: bold;
  background-color: #FE52C0;
  text-decoration: none;
  display: inline-flex;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.178);
}
.bloque {
  padding: 30px;
  padding-bottom: 50px;
  box-shadow: 0 3px 10px rgba(31, 20, 20, 0.137);
  background-color: #ffffff;
  border-radius: 10px;
  height: 400px;
  margin-top: 15px;
  margin-bottom: 30px;
}
#community {
  background-color: white;
  height: 100px;
  margin-top: 70px;
  margin-bottom: -110px;
}
.bloquePie {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 375px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-top: 90px;
  background-color: hsl(192, 100%, 9%);
  color: white;
}
.bloquePie #information {
  text-align: left;
  margin: 5px;
  line-height: 30px;
  font-size: 18px;
  color: white;
}
.bloquePie #imageHuddle {
  margin-top: 40px;
  width: 150px;
  margin-left: 7px;
  margin-bottom: 8px;
}
.bloquePie .icon {
  padding: 10px;
}
.bloquePie #copyright {
  font-size: 10px;
}
.bloquePie .formatText {
  text-align: left;
  margin-left: 15px;
  margin-top: -28px;
  color: white;
}
.bloquePie #imageLocation #lorem {
  text-align: left;
  margin-left: 15px;
  margin-top: -28px;
  color: white;
}
.bloquePie #imagePhone #cel {
  text-align: left;
  margin-left: 15px;
  margin-top: -28px;
  color: white;
}
.bloquePie #imageMail #mail {
  text-align: left;
  margin-left: 15px;
  margin-top: -28px;
  color: white;
}
.red {
  text-align: center;
}
.red .redes {
  margin-left: 15px;
  margin-right: 15px;
  height: 35px;
}
.redes:hover {
  filter: invert(30%);
}
#botonTry:hover {
  color: #868F96;
}
.butonRosa:hover {
  background-color: #FF9BDB;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
